/* The hero image */
.hero-image {
    /* The image used */
    background-image: url("grad_11.jpg");

    /* Set a specific height */
    height: 50%;

    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/* Place text in the middle of the image */
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.hero-text button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: black;
  background-color: #ddd;
  text-align: center;
  cursor: pointer;
}

.hero-text button:hover {
  background-color: #555;
  color: white;
}

/* Text Formats */
.text1 {
  text-align: left;
  color: DimGray;
}
.text2 {
  text-align: left;
  color: DarkGray;
}
.list1 {
  list-style-type: square;
}
.content{
    max-width:980px;
    margin:auto;
}
.center{
    text-align:center;
}
/* Colour Formats*/

.black{
    color:white;
    background-color:black;
}

.lightGray{
    color:black;
    background-color: lightgray;
}

/* Bar Formats*/

.bar {
    width:100%;
    overflow:hidden;
}

.barItem{
    padding:8px 16px;
    float:left;
    width:auto;
    border:none;
    outline:none;
    display:block;
}

.barButton{
    border:none;
    display:inline-block;
    outline:0;
    padding:8px 16px;
    vertical-align:middle;
    overflow:hidden;
    text-decoration:none;
    color:inherit;
    background-color:inherit;
    text-align:center;
    cursor:pointer;
    white-space:nowrap;
}